/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COMMON*/
body{
    background-color: lightcoral;
}
/*LAYOUT*/
.container{
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.grid{
    display: flex;
    flex-wrap: wrap;
}
.grid-item{
    width: calc(800px / 8);
    height: calc((800px / 8));
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}